module.exports = {
  apps: [
    {
      name: 'veronica',
      script: './bot/bot.js',
      cwd: 'C:/XXXXXXXXXXXXXXX/Veronica',
      watch: true,
      ignore_watch : ['node_modules', 'Logs', 'Downloads', '.git'],
      instance_id_env: '0',
      error_file:
        'C:/XXXXXXXXXXXXX/Logs/veronica-err.log',
      out_file: 'C:/XXXXXXXXXXXXX/Logs/veronica-out.log',
      env: {
        NODE_ENV: 'development'
      },
      env_production: {
        NODE_ENV: 'production'
      }
    }
  ]
};
