{
  "bot": {
    // Bot configuration
    "token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "prefix": "!",
    "debug": true
  },
   "moderation": {
      // Channel to log the bots moderation
      "logchannel": "553459512976080902",
      // error log channels
      "modLogChannel": "553484938150805515",
      // Bot Devs!
      // Roles that have access to all commands.
      "perms": [
          "Admin",
          "Veronica"
      ]
  },
  "General": {
      //pm2 botname
      "pm2Name": "veronica",
      // Bot Dir
      "botDir": "C:/Users/MSFTserver/Desktop/Veronica",
      // MongoDB config
      "mongoURL": "mongodb://localhost/VeronicaV2",
      //define channels for global usage
      "Channels": {
          "botspam": "553292468498595870",
          "twitterRSS" : "553315165559455756"
      }
  },
  "rvntweets": {
    "config": {
      "consumer_key": "XXXXXXXXXXXXXXXXXX",
      "consumer_secret": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
      "token": "XXXXXXXXXXXXXXXXXXXXXX",
      "token_secret": "XXXXXXXXXXXXXXXXXXXXXXXX"
    },
    "trackers": [
      "rvndb",
      "rvnbox",
      "ravenfam",
      "rvnfam",
      "#ravencoin",
      "rest.ravencoin.online",
      "developer.ravencoin.online"
    ]
  },
  "serverRolesetter": {
      // Roles Rolesetter bot is allowed to use
      "allowedroles": [
          "red",
          "green",
          "blue",
          "orange",
          "yellow",
          "brown",
          "cyan",
          "purple",
          "pink"
      ]
  },
  "excludedSpam": {
    // Channels excluded from Spam Detection
    "channels": [
      "553292468498595870",
      "553283356456910849",
      "553459124084408335"
    ],
    "users": []
  }
}
